/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav {
    background-color: #eee;
}
nav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    font-size: 2rem;
    color: #555;
    width: 45px;
}
@keyframes fade-out {
    from { background-color: rgba(0,0,0,.3)}
    to { background-color: rgba(0,0,0,.0);}
}
@keyframes pulse {
    from { background-color: rgba(0,0,0,.3)}
    to { background-color: rgba(0,0,0,.2);}
}
nav ul li a {
    display: block;
    padding: 9px 10px;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,.5);
    animation: fade-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
    animation: pulse;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 15px;

}
nav ul li.active a {
    background-color: rgba(0,0,0,.2);
    color: fff;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
.hidden {
    display: none;
}







