:root {
    --title-font: 'Dancing Script', cursive;
    --heading-font: 'Oxygen', sans-serif;
    --body-font: 'Cormorant Garamond', serif;
}

/* UNIVERSAL */

/* HOME ONLY */

/* FRESH ONLY */

/* ABOUT US ONLY */

/* RESOURCE ATTRIBUTION ONLY */