@media only screen and (min-width: 550px) {
    nav {
        flex-direction: row;
        align-self: left;
    }

    header {
        align-items: flex-start;
        justify-items: flex-end;
    }
    header div {
        display: flex;
        align-items: flex-end;
        justify-self: flex-start;
        width: 100%;
    }
    header div h1 {
        font-size: 2em;
        padding-left: 20px;
        padding-right: 20px;
    }
    header div img {
        width: 120px;
        align-self: center;
    }
}