body {
    max-width: 700px;
    margin: 0px auto;
}

header {
    display: flex;
    background-color: rgb(61, 56, 48);
}
nav {
    background-color: rgb(61, 56, 48);
    display: flex;
}
a {
    color: antiquewhite;
    background-color: rgba(255,255,255,.1);
    margin: 10px;
}