/*  font-family: 'Open Sans', sans-serif;   Paragraph
    font-family: 'Oswald', sans-serif;      Heading*/

:root {
    --primary-bg: rgb(200, 220, 248);
    --primary-fg: rgb(88, 120, 58);
    --secondary-fg: rgb(40, 51, 65);
    --secondary-bg: rgb(253, 253, 239);
    --pop-color: rgb(166,99,23);
    --white-bump: rgba(255,255,255,.2);
    --drop-shadows: rgba(0,0,0, .2);
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Oswald', sans-serif; 
}
html {
    padding: 10px;
    font-family: var(--body-font); 
}
body {
    max-width: 900px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px var(--drop-shadows);
}
main {
    padding: 40px;
    background-color: var(--secondary-bg);
    color: var(--primary-fg);
}
main h2,h3,h4 {
    color: var(--primary-fg);
}
h1,h2,h3,h4 {
    font-family: var(--heading-font);
}
header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    flex-direction: column;
    padding: 40px;
    padding-bottom: 0px;
}
header h1 {
    font-size: 1.9em;
    margin-top: 0px;
    margin-bottom: 0px;
}
header div {
    align-self: center;
    text-align: center;
}
nav {
    font-family: var(--heading-font);
    background-color: var(--white-bump);
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-top: 20px;
    align-items: center;
    align-self: center;
    width: 100%;
}
nav a {
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
}
nav a:link {
    color: var(--primary-fg);
}
nav a:visited {
    color: var(--primary-fg);
}
a:link {
    color: var(--pop-color);
}
a:visited {
    color: var(--pop-color);
    filter: brightness(50%);
}
a:hover {
    filter: brightness(120%);
    background-color: var(--white-bump);
}


.oswald {
    font-family: 'Oswald', sans-serif;  ;
}
.open-sans {
    font-family: 'Open Sans', sans-serif;
}
@keyframes glowing-text {
    from    {   color: var(--primary-fg);
                filter: brightness(100%);}
    to      {   color: var(--primary-fg);
                filter: brightness(150%); }
}
.active-nav {
    animation-name: glowing-text;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#logo {
    display: inline;
    width: 50%;
}
